@import "../../styles/globals.scss";

.table-container {
  background-color: $dark-blue;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 1rem;
  th,
  td {
    padding: 0.7rem;
    border-bottom: 1px solid $baby-blue;
  }
  th {
    background-color: $baby-blue;
    color: $black;
  }
}
