@import "../globals.scss";

.sidebar {
  width: 250px;
  // background-color: $dark-blue;
  background: rgba(15, 34, 63, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-right: 1px solid $glass-border;
  box-shadow: $glass-shadow;

  color: $white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  overflow: hidden;
}

.sidebar-title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 700;

  background: $white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu {
  width: 100%;

  position: relative;
  z-index: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem;
  // border-radius: 8px;
  // cursor: pointer;
  // font-size: 1.1rem;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;

  position: relative;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0.5rem;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(10px);
    transform: translateX(8px);

    &::before {
      height: 70%;
    }

    .icon {
      transform: scale(1.2) rotate(5deg);
    }
  }

  &:active {
    transform: translateX(8px) scale(0.98);
  }
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 1.2rem;
}
