@import "../globals.scss";

.sidebar {
  width: 250px;
  background-color: $dark-blue;
  color: $white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.menu {
  width: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.2rem 0.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  font-size: 1.2rem;
}
