@import "../globals.scss";

.admin-dashboard {
  display: flex;
  min-height: 100vh;

  background: $color-background;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at 20% 50%,
        rgba(0, 255, 255, 0.1) 0%,
        transparent 50%
      ),
      radial-gradient(
        circle at 80% 80%,
        rgba(57, 255, 20, 0.1) 0%,
        transparent 50%
      );
    pointer-events: none;
  }
}

.main-content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    background: $accent-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }
}

.sections {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
