@import "../globals.scss";
@import "../mixins.scss";

// USERPAGE STYLES

.container-user {
  // Header UserPage
  width: 100%;

  .header-userPage {
    width: 100%;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    .count {
      // font-size: 1.1rem;
      // font-weight: bold;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
    }

    .buttons-user {
      display: flex;
      justify-content: end;
      align-items: end;

      button {
        @include button($cian-blue, $dark-blue, 20%, 0.75rem 1.5rem);
      }
    }
  }
}

// Table User

.table-userPage {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  th,
  td {
    padding: 1rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid $baby-blue;
  }

  .btn-sec {
    display: flex;
    gap: 0.5rem;

    .btn-edit {
      @include button($cian-blue, $dark-blue, 20%, 0.5rem 1rem, 0.3rem);
    }
    .btn-delete {
      @include button($gray, $white, 15%, 0.5rem 1rem, 0.3rem);
    }
  }
}
