@import "variables.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $white;
  font-family: $principal-font;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.main-content {
  flex: 1;
  padding: 2rem;
  margin-left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
    padding: 5rem 1rem 2rem 1rem;
  }
}
