@import "variables.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $white;
  font-family: $principal-font;
}
