@import "../styles/globals.scss";

body {
  height: 100vh;

  background: linear-gradient(
    120deg,
    rgba(15, 34, 63, 1) 0%,
    rgba(169, 212, 224, 0.95) 98%,
    rgba(0, 255, 255, 1) 100%
  );
}

.home-page {
  @include flex-center;
  height: 100%;

  .main-content {
    @include flex-column;
    align-items: center;
    text-align: center;

    .text-content {
      h1 {
        color: $white;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
      }
      p {
        color: $white;
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
    }

    .loader-bar {
      width: 200px;
      height: 10px;
      background-color: $white;
      border-radius: 5px;
      margin-top: 2rem;
      overflow: hidden;

      .progress {
        height: 100%;
        background-color: $dark-blue;
        width: 0;
        animation: fillBar 4s linear forwards;
      }
    }
  }
}

@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
