// Colors
$white: #ffffff;
$black: #000000;
$gray: #696969;
$dark-blue: #0f223f;
$color-background: #0a192f;
$mint-green: #c1e1d4;
$aquamarine: #a9d4e0;
$baby-blue: #a9d4e0;
$green: #39ff14;
$cian-blue: #00ffff;

// Fuente, tamaño de letra

$principal-font: var(--font-dm-sans);
